<?xml version="1.0" encoding="UTF-8"?>
<Module>
<ModulePrefs title="menu" />
<Content type="html"><![CDATA[
<style> 
#cabeceramenu {
	width: 960px;
	height: 65px;
	background-image:url(http://bbvagcs.googlecode.com/svn/trunk/fondomenu.png);	
	margin:0;
	padding: 0;
	background-repeat: no-repeat;
}
#button {  
	padding: 4px 0 0 73px;  
	height:60px;
	margin: 0 0 0 0px;
}  
#button li {  
	display: inline; 
	text-align: center;
}  
#button li a {  
	font-family: Arial;  
	font-size:15px;  
	text-decoration: none;  
	float:left;  
	padding: 19px 0 0 0;   
	color: #fff;  
	width: 187px;
	height: 34px;
}  
#button li a.first {  
	font-family: Arial;  
	font-size:15px;  
	text-decoration: none;  
	float:left;  
	padding: 19px 0 0 0;     
	color: #fff;  
	width: 75px;
	height:35px;
}  
#button li a.op2 {  
	font-family: Arial;  
	font-size:15px;  
	text-decoration: none;  
	float:left;  
	padding: 19px 0 0 0;     
	color: #fff;  
	width: 149px;
	height:35px;
} 
#button li a.op3 {  
	font-family: Arial;  
	font-size:15px;  
	text-decoration: none;  
	float:left;  
	padding: 19px 0 0 0;     
	color: #fff;  
	width: 118px;
	height:35px;
}
#button li a.op4 {  
	font-family: Arial;  
	font-size:15px;  
	text-decoration: none;  
	float:left;  
	padding: 19px 0 0 0;     
	color: #fff;  
	width: 237px;
	height:35px;
}
#button li a.op5 {  
	font-family: Arial;  
	font-size:15px;  
	text-decoration: none;  
	float:left;  
	padding: 19px 0 0 0;     
	color: #fff;  
	width: 129px;
	height:35px;
}
#button li a.op6 {  
	font-family: Arial;  
	font-size:15px;  
	text-decoration: none;  
	float:left;  
	padding: 19px 0 0 0;     
	color: #fff;  
	width: 159px;
	height:35px;
}
#button li a:hover {  
	background-color: #2586d7;  
}  
#button li a:active {  
	background-color: #2586d7;  
}
</style>
<div id="cabeceramenu">
<ul id="button">  
<li><a href="https://sites.google.com/site/bbvagcs/" class="first" target="_parent">Home</a></li>  
<li><a href="https://sites.google.com/site/bbvagcs/globalsales" class="op2" target="_parent">Global Sales</a></li>  
<li><a href="https://sites.google.com/site/bbvagcs/clientes" class="op3" target="_parent">Clientes</a></li> 
<li><a href="https://sites.google.com/site/bbvagcs/globalcustomersupport" class="op4" target="_parent">Global Customer Support</a></li>  
<li><a href="https://sites.google.com/site/bbvagcs/producto" class="op5" target="_parent">Producto</a></li>  
<li><a href="https://sites.google.com/site/bbvagcs/comunicaciones" class="op6" target="_parent">Comunicaciones</a></li>  
</ul>  
</div>
]]></Content>
</Module>